
$pink: #c85b86;
$gold: #c89c5b;
$green: #5bc89c;
$blue: #00BCD4;

$primary-color: $blue;
$secondary-color-1: $pink;
$secondary-color-2: $gold;
$complement-color: $green;

$font-stack: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;;


body {
  padding: 20px;
  color: black;
  font-family: $font-stack;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;

  #navbar{

    li{
      a{
        color: $primary-color;
      }
    }
   }


  #SecondFeaturette{
    background-color: $primary-color;
   }


  .form-box {
    width: 50%;
    margin: auto;
    padding-top:20px;
}

.form-box h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;

.form-box h1 span {
    font-weight: lighter;
}

}
.page-header{
  color: $primary-color;
}

header{
	h1,p{ 
		color: $primary-color;
    font-family:$font-stack; 
    font-size: 20px;
	}
}

footer{

  padding-top: 60px;
  margin-bottom: 0px;
}
.featurette-divider{
  color: $secondary-color-2;
}

.text-muted{
  color: $primary-color;
}
}






 